<div class="">
  
</div>

    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-form my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Crear un proyecto</h5>
            <div class="proyect-form">
              <%= form_with(model: proyect) do |f| %>
                <div class="form-label-group">
                  <%= f.label :title, "Titulo" %>
                  <%= f.text_field :title, class:'form-control' %>
                </div>
                <div class="form-label-group">
                  <%= f.label :description, "Descripcion" %>
                  <%= f.text_area :description,class:'form-control' %>
                </div>
                <div class="form-label-group">
                  <%= f.label :budget, "Presupuesto" %>
                  <%= f.text_field :budget,class:'form-control' %>
                </div>
                <div class="form-label-group">
                  <%= f.label :address, "Dirección" %>
                  <%= f.text_field :address, class:'form-control' %>
                </div>
                <div class="form-label-group">
                  <%= f.label :start_date, "Fecha de inicio" %>
                  <%= f.date_field :start_date, class:'form-control' %>
                </div>
                <div class="form-label-group">
                  <%= f.label :finish_date, "Fecha de Término" %>
                  <%= f.date_field :finish_date, class:'form-control' %>
                </div>
                <%= f.submit "Enviar", class:'btn btn-primary' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>