<tr id="<%= proyect.id %>">
  <td> <%= proyect.title %></td>
  <td> <%= proyect.description %></td>
  <td> <%= proyect.budget %></td>
  <td> <%= link_to 'Ver', proyect_path(proyect),data:{remote: true}, class:'btn btn-primary btn-sm' %></td>  
</tr>