<tr id="<%= proyect.id %>">
  <td> <%= proyect.title %></td>
  <td> <%= proyect.description %></td>
  <td> <%= proyect.budget %></td>
  <td> <%= proyect.start_date %></td>
  <td> <%= proyect.finish_date %></td>
  <td> <%= proyect.address %></td>
  <td> <%= link_to 'Editar', edit_proyect_path(proyect), class:'btn btn-success btn-sm'%></td>
</tr>