<div id="<%= proyect.id %>">
  <li><strong>Nombre del proyecto: </strong><%= proyect.title %></li>
  <li><strong>Descripción: </strong><%= proyect.description %></li>
  <li><strong>Presupuesto: </strong><%= proyect.budget %></li>
  <li><strong>Fecha de inicio: </strong><%= proyect.start_date %></li>
  <li><strong>Fecha de término: </strong><%= proyect.finish_date %></li>
  <li><strong>Dirección: </strong><%= proyect.address %></li>

  <br>
</div>