







<p><strong>Descripción:</strong> <%= proyect.description %></p>
<p><strong>Presupuesto:</strong> <%= proyect.budget %></p>
<p><strong>Dirección:</strong> <%= proyect.address %></p>
<p><strong>Fecha de inicio:</strong> <%= proyect.start_date %></p>
<p><strong>Fecha de término:</strong> <%= proyect.finish_date %></p>