<div class="card-body" >
  <h5 class="card-title text-center">Editar</h5>
  <%= form_with(model: @proyect) do |f| %>
    <div class="form-label-group">
      <%= f.label :description, "Descripcion" %>
      <%= f.text_area :description,class:'form-control' %>
    </div>
    <div class="form-label-group">
      <%= f.label :finish_date, "Fecha de Término" %>
      <%= f.date_field :finish_date, class:'form-control' %>
    </div>
    <%= f.submit "Editar", class:'btn btn-primary btn-sm' %>
  <% end %>
</div>